agenda.org
eclipse.jdt.ls
mail.org
secrets.org
workspace
auto-save-list
elpa
promela-mode
freest-mode
snippets
backup
emacs.el
secrets.el
transient
.cache/
.dap-breakpoints
.emacs.d/
.lsp-session-v1
.mbsyncpass-fc.gpg
.projectile-bookmarks
.projectile-cache
.signature
